body {
    background-color: #04121d;
    margin: 0px;
}

h1 {
    font-family: Verdana, "Lucida Console", monospace;
    font-variant: small-caps;
}

#header {
    background-color: #ecdfcf;
    text-align: center;
    color: #ff4654;
}